<style>
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}

body {
background-color: rgba(210, 105, 30, 0.479);
color: # 333333;
}

/* HEADER */
header {
background: url(Image 2026-05-06 at 10.37.31.jpeg);
color: white;
text-align: center;
padding: 35px;
}

/* NAV */
nav {
background-color: rgba(210, 105, 30, 0.445);
text-align: center;
padding: 15px;
}

nav a {
color:  rgb(255, 255, 255);
margin: 0 15px;
text-decoration: none;
font-weight: bold;
}

nav a:hover {
text-decoration: underline;
}
